#container {
    width: 600px;
    border: 1px solid black;
    padding: 20px 40px; /* 상/하:20px, 좌/우:40px (상하좌우 각각 조절 가능)*/
    margin: 0px auto;   /* 폼 가운데 정렬 */
}


ul {
    list-style-type: none;  /* <li>태그의 반점 제거 */
    padding-left: 20;       /* <li>태그 좌측이동 */
}

/* 지원분야 <li>태그 간의 상하 간격 조절 (margin or line-height 사용) */
li {
    --margin: 10px;
    line-height: 30px;
}

#private-info li label {
    width: 80px;
    text-align: left;
    float: left;
}
