/* container를 통해 폼의 크기를 고정 
    - 웹 브라우저의 크기를 늘리거나 줄여도 폼의 크기는 변동되지 않는다.*/
#container {
    width: 700px;
}

ul {
    list-style-type: none;  /* <li>태그의 반점 없애기 */
    padding-left: 0;    /* <li>태그 좌측이동 */
}

/* <li>태그 정렬 */
li {
    margin: 10px;   /* <li>태그들 간 상하간격 */
}

#shipping li label {
    /* 글자 포함 80px의 간격을 유지하며 왼쪽(float:left)에 입력칸이 오게된다 */
    width: 80px;
    text-align: left;   /*텍스트 왼쪽 정렬*/
    float: left;
}

/* 입력칸 너비 조정, 콤마(,)로 여러 개 한번에 적용 가능 */
input[type=text], input[type=email], input[type=tel] {
    width: 300px;
}

/* 버튼 (주문하기, 취소하기) 스타일 */
form > div {
    /* 이전방법 : 주문하기/취소하기 버튼 가운데정렬 */
    --text-align: center;
    margin-top: 20px;
    /* 이후방법 : "display: flex" 사용 => 좌측정렬 후 기본값을 조정 */
    /* (기본값) flex-direction: row, justify-content: flex-start, align-items: stretch */
    display: flex;                  /*좌측정렬*/
    flex-direction: row;            /*가로기준*/
    justify-content: center;   /*가운데정렬 (간격조정:space-around/space-between/space-evenly)*/
    align-items: stretch;
}

form > div > input {
    width: 150px;
    height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fafafa;
    box-shadow: 1px 1px 1px #ccc;
}